@import url("basicThemeNoColors.css");

/* TODO */
.scroll-pane {
    -fx-background-color: #3E3E48;
}

/* BEGIN: Button style */

.button {
    -fx-background-color: #272735;
    -fx-text-fill: white;
    -fx-border-color: black;
}

.button:hover {
    /* -fx-background-color: #323246; */
    -fx-background-color: #1A1A1A;
    -fx-text-fill: white;
}
.button:pressed {
    -fx-background-color: #4b4b4b;
}

/* END: Button style */


/* BEGIN: TabPane style */

.tab-pane {
    -fx-background-color: transparent;
}

.tab {
    -fx-background-color: #272735;
    -fx-text-base-color: white;
    -fx-border-color: black;
}

.tab:selected {
    -fx-background-color: #686877;
    -fx-text-base-color: white;
    -fx-border-color: white;
}

.tabContent {
    -fx-background-color: white;
    -fx-text-base-color: white;
    -fx-border-color: black;
}

/* END: TabPane style */