/* Color variable definitions */
* {
    -fx-custom-background-color: #3E3E48;

    -fx-custom-element-background-color: #272735;
    -fx-custom-element-selected-color: #686877;

    -fx-custom-element-border-color: black;
    -fx-custom-element-selected-border-color: #e6e6e6;

    -fx-custom-element-text-color: white;

    -fx-custom-button-pressed-color: #4b4b4b;
    -fx-custom-button-hovered-color: #1A1A1A;
}

.background {
    -fx-background-color: -fx-custom-background-color;
}


/* BEGIN: Button style */

.button, .menu-button {
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
    -fx-border-width: 1px;

    -fx-background-color: -fx-custom-element-background-color;
    -fx-text-fill: -fx-custom-element-text-color;
    -fx-border-color: -fx-custom-element-border-color;
}

.button {
    -fx-padding: 5 12 5 12 em;
}

.button:hover {
    -fx-background-color: -fx-custom-button-hovered-color;
}
.button:pressed {
    -fx-background-color: #4b4b4b;
}

/* END: Button style */


/* BEGIN: Menu style */

.menu-button > .label {
    -fx-text-fill: -fx-custom-element-text-color;
}

/* END: Menu style */


/* BEGIN: Title style */

.mainTitle {
    -fx-font-size: 100px;
}

.title {
    -fx-font-size: 50px;
}

/* END : Title style */


/* BEGIN: TabPane style */


.tab-pane {
    -fx-background-color: transparent;
}

.tab {
    -fx-background-radius: 7px;
    -fx-border-radius: 7px;
    -fx-border-width: 1px;

    -fx-background-color: -fx-custom-element-background-color;
    -fx-text-base-color: -fx-custom-element-text-color;
    -fx-border-color: -fx-custom-element-border-color;
}

/* Selector found in : https://forums.oracle.com/ords/apexds/post/styling-tabpane-css-1983 */
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
}

.tabContent {
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 1px;

    -fx-padding: 10 10 10 10 em;

    -fx-background-color: -fx-custom-element-background-color;
    -fx-text-base-color: white;
    -fx-border-color: black;
}

.tabContent > .button {
    -fx-background-radius: 20px;
    -fx-border-width: 0;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    -fx-pref-width: 8em;
}

.tab-label {
    -fx-alignment: center;
}

.tab:selected {
    -fx-background-color: -fx-custom-element-selected-color;
    -fx-border-color: -fx-custom-element-selected-border-color;
}

/* END: TabPane style */

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
