@import url("basicThemeNoColors.css");

* {
    -fx-custom-background-color: #3E3E48;

    -fx-custom-element-background-color: #272735;
    -fx-custom-element-selected-color: #686877;

    -fx-custom-element-border-color: black;
    -fx-custom-element-selected-border-color: #e6e6e6;

    -fx-custom-element-text-color: white;

    -fx-custom-button-pressed-color: #4b4b4b;
    -fx-custom-button-hovered-color: #1A1A1A;
}