@import url("basicThemeNoColors.css");

* {
    -fx-custom-background-color: #e9d8ef;

    -fx-custom-element-background-color: #c4b2ff;
    -fx-custom-element-selected-color: #B68BD9;

    -fx-custom-element-border-color: black;
    -fx-custom-element-selected-border-color: #e6e6e6;

    -fx-custom-element-text-color: white;

    -fx-custom-button-pressed-color: #cea1f3;
    -fx-custom-button-hovered-color: #c9baf6;
}